<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="http://scarky.com/gfx/styles/widget.css" type="text/css" media="screen" />
</head>
	
<body>
  
	<div id="box">
		<div id="content">
			<div id="content-challenge">
				{{ problem.content }}
			</div>
			<div id="content-info">
			
			</div>
			<div id="content-answer">
				<form method="post">
					<div id="editor"></div>
					<table>
						<tr>
							<td>Language:</td>
							<td>
								<select name="language">
									<select>C++</select>
								</select>
							</td>
						</tr>
						<tr>
							<td>Author:</td>
							<td>
								<input type="text" name="author"/>
							</td>
						</tr>
					</table>
					<button type="submit">Send solution</button>
				</form>
			</div>
			<div id="content-status">
			
			</div>
			<div id="content-ranks">
			
			</div>
		</div>
		<div id="footer">
			<ul class="menu">
				<li><a href="">Challenge</a></li>
				<li><a href="">Answer</a></li>
				<li><a href="">Hall of Fame</a></li>
				<li><a href="">Info</a></li>
			</ul>
			<div class="info">
				Find more challenges on <a href="http://scarky.com" target="_blank">Scarky.com</a><br/> 
				Powered by <a href="http://sphere-engine.com" target="_blank">Sphere Engine</a>
				
			</div>
		</div>
	</div>

</body>
</html>